<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buyer Dashboard</title>
</head>
<body>
<h1>CBT BUYER Dashboard</h1>

<div>
    <h2>Your Profile</h2>
    <table>
        <tr>
            <td>
                <b>Full Name:</b>
                <span th:text="${userdetail.fname}"></span>
                <span th:text="${userdetail.lname}"></span>
            </td>
        </tr>
        <tr>
            <td>
                <b>Email:</b>
                <span th:text="${userdetail.email}"></span>
            </td>
        </tr>
        <tr>
            <td>
                <b>Phone:</b>
                <span th:text="${userdetail.phone}"></span>
            </td>
        </tr>
    </table>
</div>

</body>
</html>