<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Sharda CBT App</title>
</head>
<body>
<div>
    <form action="signup" method="post">
        <h2>SIGNUP</h2>
        <label for="usernameSignup">USERNAME</label>
        <input type="text" id="usernameSignup" name="username"> <br><br>

        <label for="passwordSignup">PASSWORD</label>
        <input type="password" id="passwordSignup" name="password"><br><br>

        <input type="submit" value="SIGNUP">

    </form>
</div>
<div>
    <form action="login" method="post">
        <h2>LOGIN</h2>
        <label for="usernameLogin">USERNAME:</label>
        <input type="text" id="usernameLogin" name="username"> <br>

        <label for="passwordLogin">PASSWORD:</label>
        <input type="password" id="passwordLogin" name="password"><br><br>

        <input type="submit" value="LOGIN">
    </form>
</div>


</body>
</html>